
<div><p class="download-cv"><a href="{{page.pdf-link}}">Download</a> CV in PDF format.</p>
	<h1><b>Work</b> Experience</h1>
	<h2 class="job-class-time">Current</h2>
		<h2 class="job-title">Founder and Project Leader</h2>
		<p class="job-chrono"><b>Mar. 2018 - Present</b> · Venice, Italy</p>
     	<br><h3>@<a target="_blank" href="https://www.batjo.eu">Batjo</a></h3><p class="job-details"> · <em>Project at the intersection of data, journalism and digital fabrication</em></p>
     	<ul class="job-bullets">
     				<li>Awarded with <a target='_blank' href='https://digitalnewsinitiative.com/dni-projects/batjo-bits-atoms-and-journalism-round-4/'>Google’s DNI Innovation Fund</a>, in December 2017</li>
     			</ul>

    </div>