<!-- Wrapper -->
<div id="wrapper">

	<header id="header">
		<div class="inner">

			<!-- Logo -->
			<a href="{{ site.baseurl }}/" class="logo">
				<span class="symbol">

					{% if site.font-awesome-icon-logo %}

					<div href="#" class="icon style1 {{ site.font-awesome-icon-logo }}"></div>

					{% else %}

					<img src="{{ site.baseurl }}/{{ site.logo-image-url }}" alt="" />

					{% endif %}
				</span><span class="logo"><img src="/images/logo.png" alt="" style="max-width: 40%; max-height: 40%"/></span>
			</a>
			<!-- Nav -->
			<nav>
				<ul>
					<li><a href="/bio">Bio</a></li>
					<li><a href="/events">Events</a></li>
					<li><a href="/tutorials">Tutorials</a></li>
				</ul>
			</nav>

		</div>
	</header>

	<!-- Main -->
	<div id="main">
		<div class="inner">
