<!DOCTYPE html>
<html lang="{{ page.language }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>{{ page.title }} · {{ site.title}}</title>
    <meta name="author" content="alice corona">
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="{{site.favicon}}" />

<!-- Twitter Cards -->
    <meta name="twitter:card" content="summary_large_image">
    {% if site.twitter %}<meta name="twitter:site" content="@{{ site.twitter }}">
    <meta name="twitter:creator" content="@{{ site.twitter }}">{% endif %}
    <meta name="twitter:title" content={{site.title}}>
    {% if page.excerpt %}<meta name="twitter:description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">{% else %} <meta name="twitter:description" content="{{ site.description }}">{% endif %}
    <meta name="twitter:image" content="https://{{site.logo}}">

<!-- Open Graph -->
    <meta property="og:locale" content="{{ site.locale }}">
    <meta property="og:type" content="article">
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    {% if page.excerpt %}<meta property="og:description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    <meta property="og:url" content="/">
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:image" content="{{site.logo}}">

<!-- Stylesheets -->
    <link rel="stylesheet" href="/style/main.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,900" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Arapey:400,400i" rel="stylesheet"> 
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    </head>