<div class="menu">
  		<ul>
        <li><a href = "/bio">About / CV</a></li>
        <li><a href = "/events">Events / Teaching</a></li>
        <li><a href = "/portfolio">Portfolio</a></li>
  		</ul>
</div>

<div class="social">
	<a target="_blank" href="mailto:{{site.email}}"><i class="fas fa-envelope"></i></a> 
	<a target="_blank" href="https://www.twitter.com/{{site.twitter}}"><i class="fab fa-twitter"></i></a>
	<a target="_blank" href="https://www.medium.com/@{{site.medium}}"><i class="fab fa-medium-m"></i></a> 
	<a target="_blank" href="https://www.github.com/{{site.github}}"><i class="fab fa-github"></i></a>
</div>