 <p> After a degree in History (University of Siena, Italy) and a MA in Communication and Information Sciences (Tilburg University, The Netherlands), I have been practicing my craft working in 
 	<span style="font-weight: bold; color: #3066be">data journalism</span>
 	<a class="reference" id="blue"><a class="reference" id="blue"><span id="blue">
 	 	DATA <b style="font-weight: 900">JOURNALISM</b><br>I have been lead data journalism at the (now acquired and ceased) startup Silk between 2014 - 2016 and am now freelancing. I am comfortable working on all the phases of crafting a data story by myself, from data collection to dataviz, although I &hearts; much more to work in a team.<br>I am available for freelance gigs in this field.</span><i class="fas fa-comment reference" id="blue"></i></a> 

 	 and 
 	 <span style="font-weight: bold; color: #06908f">data literacy trainings</span>
 	 <a class="reference" id="green"><span id="green">
 	 	DATA <b style="font-weight: 900">LITERACY</b><br>I work as a <b>trainer</b> in data skills such as: data scraping, data verification, data cleaning, data analysis for storytellers, data visualization, where to find data, introduction to data. I teach University classes, in-person workshops and online MOOCs.<br><br> Recent clients include <b style="font-weight: 900">Bologna Business School at the University of Bologna</b> - where I've thought the Data Storytelling module in 2018 and 2019 - and <b style="font-weight: 900">Dataninja School</b> - where I have a part-time position as tutor and (MOOC) course creator.</span><i class="fas fa-comment reference" id="green"></i></a> 

 	since 2014: first as a freelancer, then as lead data journalist at the Amsterdam-based startup <a href = "https://www.silk.co">Silk</a> until 2016, then again as a freelancer. 
    <br><br>
    I am now a freelancer offering consultancy and teaching in the field of data communication, visualization and processing. <br>From 2018 I am <span style="font-weight: bold">project leader</span> at <a href = "https://www.batjo.eu">Batjo</a>, a <a href="https://newsinitiative.withgoogle.com/dnifund/dni-projects/batjo-bits-atoms-and-journalism-round-4/">Google DNI-funded</a> project promoting the use of 
    <span style="font-weight: bold; color: #ffbf00">data physicalization</span>
     <a class="reference" id="yellow"><span id="yellow">
 	 	DATA <b style="font-weight: 900">PHYSICALIZATION</b><br>I am project leader at <b>Batjo</b>, a Google DNI-funded project. <b style="font-weight: 900">Batjo</b> helps journalists learn digital fabrication skills to create physical data driven news installations for their audiences.<br>In 2018, we have designed and developed 3 data physicalizations and have launched a <b>cookbook</b> for all those wishing to learn to replicate them. We offer consultancy and services related to data physicalization and digital fabrication.</span><i class="fas fa-comment reference" id="yellow"></i></a> 

 among journalists. <br><br>I love to work with 

 <span style="font-weight: bold; color: #f46353">activists & no-profits</span> <a class="reference" id="red"><span id="red">
 	 	DATA <b style="font-weight: 900">ACTIVISM</b><br>I collaborate with local activists by offering research, tech and data support.<br>I'm involved in <b style="font-weight: 900">OCIO</b>, a Venice-based civic lab monitoring data and elaborating policy proposals on the topics of housing affordability and residents' right to the city.<br>I also collaborate with <b style="font-weight: 900">Inside Airbnb</b> to study the situation of Airbnb and advocate regulation through data analysis and data viz.</span><i class="fas fa-comment reference" id="red"></i></a> 
. And to solve problems with Python.</p>



