				<div class="box alt container">
					<section class="feature left">
						<a class="image image-feature first icon"><img src="images/grid/bechdel-test.png" alt="" /><a>
						<div class="content">
							<ul>
							<li><a href="/works/2016/02/24/work-oscars-2.html"><b>Investigating the Oscars</b>: Data-driven analysis of gender representation among nominees and winners throughout 88 years of Academy Awards.</a></li>
							<li><a href="/works/2015/10/19/work-gender-nobels.html"><b>Women & Nobel prizes</b>: Data-driven project looking at women Nobels.</a></li>
							<li><a href="/works/2015/08/25/work-bechdel.html"><b>Through the gender lens</b>: Data analysis of 6,000 movies and their Bechdel Test scores.</a></li>
							</ul>
						</div>
					</section>
					<section class="feature right">
						<a href="#" class="image image-feature second icon"><img src="images/grid/privacy-wired.png" alt="" /></a>
						<div class="content">
							<ul>
							<li><a href="/works/2014/04/18/works-transparency-DB.html"><b>The Transparency Reports' Database</b>: Aggregated and normalized DB of Transparency Reports from tech companies.</a></li>
							<li><a href="/works/2014/02/03/works-transparency-wired.html"><b>Privacy. quando il Web fa lo spione</b>: Part of a series of analysis aggregating transparency reports from multiple tech companies. (Italian)</a></li>
							<li><a href="/works/2014/09/15/works-spy-files.html"><b>Semantic tool to access The Spy Files</b>: Interactive database combining the four Wikileaks' Spy Files releases</a></li>
							</ul>
						</div>
					</section>
					<section class="feature left">
						<a href="#" class="image image-feature third icon"><img src="images/grid/oliocontante.png" alt="" /></a>
						<div class="content">
							<li><a href="/works/2013/10/01/works-interpol.html"><b>"Most Wanted”. Interpol’s transparency</b>: Who’s on Interpol’s “Most Wanted” list? With the aid of data scraping and visualization this investigative reports reveals some worrying patterns behind Red Notice requests. </a></li>
							<li><a href="/works/2013/06/01/works-oliocontante.html"><b>Oliocontante</b>: Who funded Italian political parties between November 2012 and April 2013?</a></li>
							<li><a href="/works/2013/04/01/works-watching-watchers.html"><b>Watching the watchers</b>. What surveillance research projects is the European Union funding? Is it striking any balance between privacy and surveillance?</a></li>
							</ul>
						</div>
					</section>
				<section class="feature right">
						<a href="#" class="image image-feature fourth icon"><img src="images/grid/master-thesis.png" alt="" /></a>
				<div class="content">
			<ul>
				<li><a href="/works/2013/07/15/works-MA-thesis.html"><b>Social meets civic. Civic social media and open government data</b>. MA thesis on collaborative fact-checking for citizens’ empowerment.</a></li>
			</ul>
			</div>
	</section>
	<section class="feature left">
		<a href="#" class="image image-feature fifth icon"><img src="images/grid/blossoming-books.png" alt="" /></a>
		<div class="content">
			<ul>
				<li><a href="/works/2013/10/01/works-interpol.html"><b>The refugee crisis in data</b>. Insights on the 2015 UNHCR Report through a series of interactive data visualizations.</a></li>
				<li><a href="/works/2013/04/03/works-blossoming-books.html"><b>Blossoming Books</b>. Are you a passionate reader? Ever thought of a network visualization to show off your bookshelf?</a></li>
				<li><a href="//works/2012/07/08/works-BA-thesis.html"><b>The 2011 war in Libya in Italian newspapers</b>. BA thesis. When Italian media were faced the task to inform the public on the events of the war in Libya, how did they respond? </a></li>
			</ul>
	</div>
	</section>
	</div>
