<div class = "form">
        <form class="contact" method="post" action="mailto:info@batjo.eu"
      method="POST">
        <div class="form">
          <input type="text" name="name" id="name" placeholder="Name" />
        </div>
        <div class="form">
          <input type="email" name="_replyto" id="email" placeholder="Email" required />
        </div>
        <div class="form">
          <textarea name="message" id="message" placeholder="Message"></textarea>
        </div>
      <button type="submit" class="submit">Send</button>
</form>

</div>