{% include head.html %}
<body>
<div class="grid-container">
  <div class="grid-item" id="grid1">
  	<div class="name"><a href="/">Alice Corona</a></div>
    {% include menu-side.html %}
  </div>
  <div class="grid-item" id="grid2">
  	<div class="page-title"><em>{{page.title}}</em></div>
  	
<div class="img-container"><img src="/img/myself.png" /></div>
     <div class="column-right">
          <div class="content">
          <span>{{content}}<p class="download-cv"><a href="{{page.pdf-link}}">Download</a> CV in PDF format.</p></span></div>
     	<h1><b>Work</b> Experience</h1>
     	<div class="content">
               <h2 class="job-class-time">Current</h2>
     		<h2 class="job-title">{{page.work-title8}}</h2>
     			<p class="job-chrono"><b>{{page.date8}}</b> · {{page.location8}}</p>
     			<br><h3>@<a target="_blank" href="{{page.place8-link}}">{{page.place8}}</a></h3><p class="job-details"> · <em>{{page.place-description8}}</em></p>
     			<ul class="job-bullets">
     				<li>{{page.bullet8}}</li>
     			</ul>
     		<h2 class="job-title">{{page.work-title7}}</h2>
     			<p class="job-chrono"> <b>{{page.date7}}</b>
     			<br><h3>@{{page.place7}}</h3>
     			<ul class="job-bullets">
     				<li><h3>@<a target="_blank" href="{{page.client7b-link}}">{{page.client7b-name}}</a></h3><span style="font-size: 0.8em"> · {{page.client7b-role}} · <b>{{page.client7b-date}}</b></span></li>
                         <li><h3>@<a target="_blank" href="{{page.client7a-link}}">{{page.client7a-name}}</a></h3><span style="font-size: 0.8em"> · {{page.client7a-role}} · <b>{{page.client7a-date}}</b></span></li>
     			</ul>
     		<h2 class="job-title">{{page.work-title6}}</h2>
                    <p class="job-chrono"> <b>{{page.date6}}</b>
                    <br><h3>@{{page.place6}}</h3>
                    <ul class="job-bullets">
                         <li><h3>@<a target="_blank" href="{{page.client6a-link}}">{{page.client6a-name}}</a></h3><span style="font-size: 0.8em"> · {{page.client6a-role}} · <b>{{page.client6a-date}}</b></span></li>
                    </ul>
               <h2 class="job-class-time">Past</h2>
     		<h2 class="job-title">{{page.work-title5}}</h2>
     			<p class="job-chrono"><b>{{page.date5}}</b> · {{page.location5}}</p>
     			<br><h3>{{page.place5}}</h3><p class="job-details"><em>{{page.place-description5}}</em></p>
     			<ul class="job-bullets">
     			</ul>
     		<h2 class="job-title">{{page.work-title4}}</h2>
     			<p class="job-chrono"><b>{{page.date4}}</b> · {{page.location4}}</p>
     			<br><h3>@<a target="_blank" href="{{page.place4-link}}">{{page.place4}}</a></h3><p class="job-details"> · <em>{{page.place-description4}}</em></p>
     			<ul class="job-bullets">
     				<li>{{page.bullet4a}}</li>
     				<li>{{page.bullet4b}}</li>
     			</ul>
     		<h2 class="job-title">{{page.work-title3}}</h2>
     			<p class="job-chrono"><b>{{page.date3}}</b> · {{page.location3}}</p>
     			<br><h3>@<a target="_blank" href="{{page.place3-link}}">{{page.place3}}</a></h3><p class="job-details"> · <em>{{page.place-description3}}</em></p>
     			<ul class="job-bullets">
     				<li>{{page.bullet3a}}</li>
     				<li>{{page.bullet3b}}</li>
     			</ul>
     		<h2 class="job-title">{{page.work-title2}}</h2>
     			<p class="job-chrono"><b>{{page.date2}}</b> · {{page.location2}}</p>
     			<br><h3>@{{page.place2}}</h3>
     			<ul class="job-bullets">
     			</ul>
     		<h2 class="job-title">{{page.work-title1}}</h2>
     			<p class="job-chrono"><b>{{page.date1}}</b> · {{page.location1}}</p>
     			<br><h3>@<a target="_blank" href="{{page.place1-link}}">{{page.place1}}</a></h3><p class="job-details"> · <em>{{page.place-description1}}</em></p>
     			<ul class="job-bullets">
     			</ul>
     	</div>
     	<h1><b>Education</b> & Learning</h1>
     	<div class="content">
     		<h2 class="job-title">{{page.edu-title3}}</h2>
     			<ul class="job-bullets">
     				<li><a a target="_blank" href="{{page.ll-link7}}">{{page.ll-title7}}</a> by {{page.ll-by7}} · <em>{{page.ll-dove7}}</em> · {{page.ll-anno7}}</li>
     				<li><a a target="_blank" href="{{page.ll-link6}}">{{page.ll-title6}}</a> by {{page.ll-by6}} · <em>{{page.ll-dove6}}</em> · {{page.ll-anno6}}</li>
     				<li><a a target="_blank" href="{{page.ll-link5}}">{{page.ll-title5}}</a> by {{page.ll-by5}} · <em>{{page.ll-dove5}}</em> · {{page.ll-anno5}}</li>
     				<li><a a target="_blank" href="{{page.ll-link4}}">{{page.ll-title4}}</a> by {{page.ll-by4}} · <em>{{page.ll-dove4}}</em> · {{page.ll-anno4}}</li>
     				<li><a a target="_blank" href="{{page.ll-link3}}">{{page.ll-title3}}</a> by {{page.ll-by3}} · <em>{{page.ll-dove3}}</em> · {{page.ll-anno3}}</li>
     				<li><a a target="_blank" href="{{page.ll-link2}}">{{page.ll-title2}}</a> by {{page.ll-by2}} · <em>{{page.ll-dove2}}</em> · {{page.ll-anno2}}</li>
     				<li><a a target="_blank" href="{{page.ll-link1}}">{{page.ll-title1}}</a> by {{page.ll-by1}} · <em>{{page.ll-dove1}}</em> · {{page.ll-anno1}}</li>
     			</ul>
     		<h2 class="job-title">{{page.edu-title2}}</h2><p class="job-chrono"><b>{{page.edu-date2}}</b>
     			<br><h3>@{{page.edu-place2}}</h3>
     		<ul class="job-bullets">
     				<li>{{page.edu-bullet2a}}</li>
     				<li>{{page.edu-bullet2b}}</li>
     				<li>{{page.edu-bullet2c}}</li>
     			</ul>
     		<h2 class="job-title">{{page.edu-title1}}</h2><p class="job-chrono"><b>{{page.edu-date1}}</b>
     			<br><h3>@{{page.edu-place1}}</h3>
     		<ul class="job-bullets">
     				<li>{{page.edu-bullet1a}}</li>
     				<li>{{page.edu-bullet1b}}</li>
     				<li>{{page.edu-bullet1c}}</li>
     			</ul>
     	</div>

    </div>
{% include footer.html %}
</div>
</div>
</body>
</html>