{% include head.html %}
<body>
<div class="grid-container">
  <div class="grid-item" id="grid1">
  	<div class="name"><a href="/">Alice Corona</a></div>
    {% include menu-side.html %}
  </div>
  <div class="grid-item" id="grid2">
  	<div class="page-title"><em>{{page.title}}</em></div>
    <div class="column-right">
      <div class="content">
        <form class="contact" method="post" action="https://formspree.io/{{ site.email }}"
      method="POST">

        <h1><b>Get in touch</b></h1>
        <div>
        <ul class="contact-page">
        <li><a target="_blank" href="https://www.google.com/maps/place/Lido+di+Venezia/data=!4m2!3m1!1s0x477eaf8050f97617:0xc0fce2b30c9aba7b?sa=X&ved=2ahUKEwjuxtPA0LzcAhWZOsAKHZbfAs8Q8gEwa3oECGUQCw"><i class="fa fa-map-marker"></i>Venice, Italy</a></li>
      </ul>
        </div>
        <div class="form">
          <input type="text" name="name" id="name" placeholder="Name" />
        </div>
        <div class="form">
          <input type="email" name="_replyto" id="email" placeholder="Email" />
        </div>
        <div class="form">
          <textarea name="message" id="message" placeholder="Message"></textarea>
        </div>
      <button type="submit"class="special">Send</button>
</form>

</div>

</div>
{% include footer.html %}
</div>
</div>
</body>
</html>