---
layout: default
bodyClass: "page-basic"
---

<div class="container pb-1 pt-6 pt-md-10 pb-md-5">
    <div class="row justify-content-start">
        <div class="col-12 col-md-8">
                <h1 class="title">{{page.title}}</h1>
                <div class="content" style="font-size: 1.5em">{{content}}
             <div class="social" >
  {% for item in site.data.social %}
    <div class="button" style="background-color: white"><a href="{{ item.link }}" target="blank" style="font-size: 1.2em; "><i class="{{item.image}}" style="color: #2F3C4F;"></i></a></div>
  {% endfor %}
    <div class="button" style="background-color: #2F3C4F;"><a href="mailto:{{ site.data.contact.email }}" target="blank">CONTACT</a></div>
</div>
            
            
            
            </div>
        </div>
        
    </div>
</div>
<div class="strip strip-white">
  <div class="container pt-1 pb-3 pt-md-1 pb-md-5 ">   
      <div class="full" style="border-top: 0px"><div class="year-cv" ><p><b style="font-weight: 900">Current work</b> experience<br><span style="font-size: 0.5em">2017 - NOW</span></p></div></div><div style="clear: both"></div>
      
      <div class="row justify-content-left">
          <div class="col-12 col-md-6 col-lg-8 mb-2 cv">

              <h2 style="font-family: 'Avenir'; font-weight: 100; border-bottom: 2px solid">Creator of data narratives</h2>
              <p><i class="fa-solid fa-link"></i>See <a href="/projects">projects</a>.<br><br>
                  <i class="fa-solid fa-compass"></i>Remote<br>.</p>
              <p><i class="fa-solid fa-user-group"></i>Fixed collaboration with <a href = "https://sheldon.studio/">Sheldon Studio</a> as their data journalist (since 2020).<br>
            <i class="fa-solid fa-user-group"></i>Other occasional clients, for example CNN Hong Kong, TalentData, and Carbon Tracker Initiative.</p>
              
              
              <h2 style="font-family: 'Avenir'; font-weight: 100; border-bottom: 2px solid">Data literacy education learning designer and trainer</h2>
              <p><i class="fa-solid fa-link"></i>See <a href="/teaching">teaching</a>.<br><br><i class="fa-solid fa-compass"></i>Remote<br></p>
              <p><i class="fa-solid fa-user-group"></i>Fixed collaboration with <a href = "https://school.dataninja.it/">Dataninja School</a> to oversee learning programs, teach, and mentor (since 2018).<br>
                  <i class="fa-solid fa-user-group"></i>Contract professor at the <a href = "https://unibo.it/">University of Bologna</a> (since 2018).<br>
                  <i class="fa-solid fa-user-group"></i>Other occasional clients like Data4Change, Ecipa NordEst, and Maghweb.</p>
              
              
               <h2 style="font-family: 'Avenir'; font-weight: 100; border-bottom: 2px solid">Data activist</h2>
              <p><i class="fa-solid fa-link"></i>See <a href="/projects">projects</a>.<br><br>
              <i class="fa-solid fa-compass"></i>Venice, Italy<br><br></p>
               <p><i class="fa-solid fa-user-group"></i>Volunteer "data person" at <a href = "https://ocio-venezia.it/">OCIO Venezia</a>, a local housing rights collective in Venice (since 2018).<br>
                  <i class="fa-solid fa-user-group"></i>Former collaborator of <a href = "http://insideairbnb.com/">Inside Airbnb</a> (2017-2018).<br><br>
              <i class="fa-solid fa-briefcase"></i>Publishing of data viz, research and analysis on the impact of short-term rentals and Airbnbs in Venice. <br>
                   <i class="fa-solid fa-briefcase"></i>Advocating for the regulation of Airbnb and short-term rentals, to preserve the right to affordable housing for residents.</p>
              
               
               <h2 style="font-family: 'Avenir'; font-weight: 100; border-bottom: 2px solid">Project lead & researcher</h2>
              <p><i class="fa-solid fa-at"></i> <a href="http://www.batjo.eu/">Batjo: Bits, Atoms and Journalism</a><br><i class="fa-solid fa-link"></i>See <a href="/projects">projects</a> and <a href="/writing">writing</a>.<br><br>
              <i class="fa-solid fa-compass"></i>Remote<br></p>
               <p><i class="fa-solid fa-user-group"></i>Funded by the <a href="https://newsinitiative.withgoogle.com/dnifund/dni-projects/batjo-bits-atoms-and-journalism-round-4/">Google DNI Fund in 2017</a>.<br><br>
               <i class="fa-solid fa-briefcase"></i>Developed a <a href="https://batjo.eu/cookbook">cookbook</a> with three reproducible open-source data physicalization projects. Files available on GitHub: <a href="https://batjo.eu/cookbook/data-walk/">The Data Walk</a>, <a href="https://batjo.eu/cookbook/map/">The 3D Data Map</a>, <a href="https://batjo.eu/cookbook/light-bars/">The Light Data Bars</a>.</p>
        
      </div>
          </div>
      
          
      
      
      <div class="full" style="border-top: 0px"><div class="year-cv" ><p><b style="font-weight: 900">Past work</b> experience<br><span style="font-size: 0.5em">2013 - 2016</span></p></div></div><div style="clear: both"></div>
      
      <div class="row justify-content-left">
          <div class="col-12 col-md-6 col-lg-8 mb-2 cv">

              <h2 style="font-family: 'Avenir'; font-weight: 100; border-bottom: 2px solid">Lead Data Journalist and Trainer</h2>
              <p><i class="fa-solid fa-at"></i><a href="http://www.silk.co/">Silk</a><br><i class="fa-solid fa-link"></i>See <a href="/projects">projects</a> and <a href="/teaching">teaching</a>.<br><br><i class="fa-solid fa-clock"></i>2014 - 2016<br>     
              <i class="fa-solid fa-compass"></i>Amsterdam, The Netherlands<br>     </p>
               <p><i class="fa-solid fa-briefcase"></i>Worked on data and data journalism projects daily  for in-house and clients' projects.<br>
              <i class="fa-solid fa-briefcase"></i>Trainer at local and international events.</p>
              
              
             <h2 style="font-family: 'Avenir'; font-weight: 100; border-bottom: 2px solid">Research Assistant</h2>
              <p>            
              <i class="fa-solid fa-at"></i>DataJLab · Virtual lab at Tilburg University on data journalism trends and techniques<br><i class="fa-solid fa-link"></i>See <a href="/projects">projects</a>.<br><br>
              <i class="fa-solid fa-clock"></i>2013<br> 
                  <i class="fa-solid fa-compass"></i>Tilburg, The Netherlands<br>
              </p>
               <p><i class="fa-solid fa-briefcase"></i>Member of the 'Climate Finance Lab' team, investigating financial data stories behind climate policies.<br>
              <i class="fa-solid fa-briefcase"></i>Presented, together with Dr. Stefania Milan, research on news & algorithms at the 'Rethinking Journalism' conference</p>
              
              <h2 style="font-family: 'Avenir'; font-weight: 100; border-bottom: 2px solid">Journalist</h2>
              <p>            
              <i class="fa-solid fa-at"></i>Freelance<br><i class="fa-solid fa-link"></i>See <a href="/projects">projects</a>.<br><br>
              <i class="fa-solid fa-clock"></i>2013<br>
              <i class="fa-solid fa-compass"></i>Tilburg, The Netherlands<br>
               <p><i class="fa-solid fa-briefcase"></i>Published data journalism pieces on Datajournalism.it and Wired Italy.</p>
              
              <h2 style="font-family: 'Avenir'; font-weight: 100; border-bottom: 2px solid">Journalist Trainee</h2>
              <p>             
              <i class="fa-solid fa-at"></i>NRC.next<br><i class="fa-solid fa-link"></i>See <a href="/projects">projects</a>.<br><br>
              <i class="fa-solid fa-clock"></i>2013<br>
              <i class="fa-solid fa-compass"></i>Amsterdam, The Netherlands<br></p>
               <p><i class="fa-solid fa-briefcase"></i>Newsroom training + authored a data-driven investigation into Interpol.</p>
        
      </div>
          </div>      
      
     <div class="full" style="border-top: 0px"><div class="year-cv" ><p><b style="font-weight: 900">Study</b> experience<br><span style="font-size: 0.5em">2008 - 2013</span></p></div></div><div style="clear: both"></div>
      
      <div class="row justify-content-left">
          <div class="col-12 col-md-6 col-lg-8 mb-2 cv">
              
              
             <h2 style="font-family: 'Avenir'; font-weight: 100; border-bottom: 2px solid">Communication and Information Sciences, Data Journalism track (MA)</h2>
              <p><i class="fa-solid fa-at"></i><a href="https://www.tilburguniversity.edu/education/masters-programmes/communication-and-information-sciences">Tilburg University</a><br><i class="fa-solid fa-link"></i>See <a href="/projects">projects</a> and <a href="/writing">writing</a>.<br><br><i class="fa-solid fa-clock"></i>2012 - 2013<br>     
              <i class="fa-solid fa-compass"></i>Tilburg, The Netherlands<br>     </p>
               <p>
              <i class="fa-solid fa-briefcase"></i>Courses on Statistics, Journalism, and Python.<br>
              <i class="fa-solid fa-graduation-cap"></i>Graduated with distinction.<br>
                   <i class="fa-solid fa-graduation-cap"></i>Thesis 'Social meets civic: Civics social media and open government data: An inquiry on collaborative fact-checking for citizens’ empowerment' (<a href="http://www.academia.edu/4203710/Social_meets_civic._Civic_social_media_and_open_government_data_An_inquiry_on_collaborative_fact-checking_for_citizens_empowerment">available here</a>).<br>
              </p>
              
               <h2 style="font-family: 'Avenir'; font-weight: 100; border-bottom: 2px solid">Storia, Tradizione e Innovazione - Curriculum Storia Contemporanea (BA, in History)</h2>
              <p><i class="fa-solid fa-at"></i><a href="https://www.unisi.it">Università degli Studi di Siena</a><br><i class="fa-solid fa-link"></i>See <a href="/writing">writing</a>.<br><br><i class="fa-solid fa-clock"></i>2008 - 2012<br>     
              <i class="fa-solid fa-compass"></i>Siena, Italy<br>     </p>
               <p>
              <i class="fa-solid fa-briefcase"></i>Specialized in the period from the 1789 French Revolution to the current days. <br>
                   <i class="fa-solid fa-briefcase"></i>Elective courses in Philosophy, Human Rights, Economic History, and Globalization<br>
              <i class="fa-solid fa-graduation-cap"></i>Graduated cum laude.<br>
                   <i class="fa-solid fa-graduation-cap"></i>Thesis analyzing media discourse in Italian newspapers during the 2011 war in Libya and NATO’s intervention (<a href="http://www.academia.edu/3711682/La_guerra_in_Libia_del_2011_e_la_stampa_italiana_rappresentazione_mediatica_di_un_teatro_bellico">available here</a>).<br>
              </p>
              
          
        
      </div>
          </div>         
      
     </div>
</div>