{% include head.html %}
{% include nav.html %}
<body> 
    <main>
      <h1 style="text-align:center;">{{ page.title}}</h1>

      <div class="content" style="font-weight: 400;">
     {{content}}</div>
      <div class ="subsection">
      <h2 id="speaker">Workshops and Talks</h2>
                	{% assign n-var =  page.n_teach | plus: 0%}
                    {% for i in (1..n-var) reversed %}
                    {% assign var1 = "teach-title-id" | append: {{i}} %}
                    {% assign var2 = "teach-title" | append: {{i}} %}
                    {% assign var3 = "teach-role" | append: {{i}} %}
                    {% assign var4 = "teach-date" | append: {{i}} %}
                    {% assign var5 = "teach-place-link" | append: {{i}} %}
                    {% assign var6 = "teach-place" | append: {{i}} %}
                    {% assign var7 = "teach-place-geo" | append: {{i}} %}
                    {% assign var8 = "teach-talk-title-link" | append: {{i}} %}
                    {% assign var9 = "teach-talk-title" | append: {{i}} %}
<div style="margin-bottom: 0.5em ;font-weight:200;">
                     <h2 class="title" id="{{page[var1]}}">{{page[var2]}} 
                     	<span class="role">{{page[var3]}}</span></h2>
                    <p class="job-chrono"> · {{page[var4]}}</p>
                    <p class="job-luogo"><i class="fas fa-map-marker" style="font-size: 0.8em"></i> <a target="_blank" href="{{page[var5]}}">{{page[var6]}}</a>· <em>{{page[var7]}}</em><br>{% if page[var9]%}
                    	<b>TALK</b>: <a href="{{page[var8]}}">{{page[var9]}}</a></p>
                    {%endif%}
</div>
                    {% endfor%}
    </div>
    <h2 id="participant">Events Attended</h2>
      <div class ="subsection">
     <p>2019</p>
     <ul>
     	<li><a target="_blank" href="{{page.attend-link21}}">{{page.attend-title21}}</a> by {{page.attend-by21}} · <em>{{page.attend-luogo21}}</em> · {{page.attend-anno21}}</a></li>
          <li><a target="_blank" href="{{page.attend-link20}}">{{page.attend-title20}}</a> by {{page.attend-by20}} · <em>{{page.attend-luogo20}}</em> · {{page.attend-anno20}}</a></li>
          <li><a target="_blank" href="{{page.attend-link19}}">{{page.attend-title19}}</a> by {{page.attend-by19}} · <em>{{page.attend-luogo19}}</em> · {{page.attend-anno19}}</a></li>
     </ul>


     <p>2018</p>
     <ul>
          <li><a target="_blank" href="{{page.attend-link18}}">{{page.attend-title18}}</a> by {{page.attend-by18}} · <em>{{page.attend-luogo18}}</em> · {{page.attend-anno18}}</a></li>
          <li><a target="_blank" href="{{page.attend-link17}}">{{page.attend-title17}}</a> by {{page.attend-by17}} · <em>{{page.attend-luogo17}}</em> · {{page.attend-anno17}}</a></li>
     </ul>
     <p>2016</p>
     <ul>
          <li><a target="_blank" href="{{page.attend-link16}}">{{page.attend-title16}}</a> by {{page.attend-by16}} · <em>{{page.attend-luogo16}}</em> · {{page.attend-anno16}}</a></li>
          <li><a target="_blank" href="{{page.attend-link15}}">{{page.attend-title15}}</a> by {{page.attend-by15}} · <em>{{page.attend-luogo15}}</em> · {{page.attend-anno15}}</a></li>
          <li><a target="_blank" href="{{page.attend-link14}}">{{page.attend-title14}}</a> by {{page.attend-by14}} · <em>{{page.attend-luogo14}}</em> · {{page.attend-anno14}}</a></li>
          <li><a target="_blank" href="{{page.attend-link13}}">{{page.attend-title13}}</a> by {{page.attend-by13}} · <em>{{page.attend-luogo13}}</em> · {{page.attend-anno13}}</a></li>
          <li><a target="_blank" href="{{page.attend-link12}}">{{page.attend-title12}}</a> by {{page.attend-by12}} · <em>{{page.attend-luogo12}}</em> · {{page.attend-anno12}}</a></li>
     </ul>
     <p>2015</p>
     <ul>
          <li><a target="_blank" href="{{page.attend-link11}}">{{page.attend-title11}}</a> by {{page.attend-by11}} · <em>{{page.attend-luogo11}}</em> · {{page.attend-anno11}}</a></li>
          <li><a target="_blank" href="{{page.attend-link10}}">{{page.attend-title10}}</a> by {{page.attend-by10}} · <em>{{page.attend-luogo10}}</em> · {{page.attend-anno10}}</a></li>
          <li><a target="_blank" href="{{page.attend-link9}}">{{page.attend-title9}}</a> by {{page.attend-by9}} · <em>{{page.attend-luogo9}}</em> · {{page.attend-anno9}}</a></li>
     </ul>
     <p>2014</p>
     <ul>
          <li><a target="_blank" href="{{page.attend-link8}}">{{page.attend-title8}}</a> by {{page.attend-by8}} · <em>{{page.attend-luogo8}}</em> · {{page.attend-anno8}}</a></li>
          <li><a target="_blank" href="{{page.attend-link7}}">{{page.attend-title7}}</a> by {{page.attend-by7}} · <em>{{page.attend-luogo7}}</em> · {{page.attend-anno7}}</a></li>
          <li><a target="_blank" href="{{page.attend-link6}}">{{page.attend-title6}}</a> by {{page.attend-by6}} · <em>{{page.attend-luogo6}}</em> · {{page.attend-anno6}}</a></li>
          <li><a target="_blank" href="{{page.attend-link5}}">{{page.attend-title5}}</a> by {{page.attend-by5}} · <em>{{page.attend-luogo5}}</em> · {{page.attend-anno5}}</a></li>
          <li><a target="_blank" href="{{page.attend-link4}}">{{page.attend-title4}}</a> by {{page.attend-by4}} · <em>{{page.attend-luogo4}}</em> · {{page.attend-anno4}}</a></li>
     </ul>
     <p>2013</p>
     <ul>
          <li><a target="_blank" href="{{page.attend-link1}}">{{page.attend-title3}}</a> by {{page.attend-by3}} · <em>{{page.attend-luogo3}}</em> · {{page.attend-anno3}}</a></li>
          <li><a target="_blank" href="{{page.attend-link2}}">{{page.attend-title2}}</a> by {{page.attend-by2}} · <em>{{page.attend-luogo2}}</em> · {{page.attend-anno2}}</a></li>
          <li><a target="_blank" href="{{page.attend-link1}}">{{page.attend-title1}}</a> by {{page.attend-by1}} · <em>{{page.attend-luogo1}}</em> · {{page.attend-anno1}}</a></li>
     </ul>
    </div>
</div>
    </main>

</body>
{% include footer.html %}
</html>
