{% include head.html %}
<body>
<div class="grid-container">
  <div class="grid-item" id="grid1">
  	<div class="name"><a href="/">Alice Corona</a></div>
    {% include menu-side.html %}
  </div>
  <div class="grid-item" id="grid2">
  	<div class="page-title"><em>{{page.title}}</em></div>
     <div class="column-right">
          <h1>Teaching, Workshops & Talks</h1>
          <div class="content">
              <h2 class="teach-title">{{page.teach-title13}} <span class="teach-role">{{page.teach-role13}}</h2>
                    <p class="job-chrono"> · {{page.teach-date13}}</p>
                    <br><h3>@<a target="_blank" href="{{page.teach-place-link13}}">{{page.teach-place13}}</a></h3><p class="job-details"> · <em>{{page.teach-place-geo13}}</em></p>
                    <ul class="job-bullets">
                    </ul>
               <h2 class="teach-title">{{page.teach-title12}} <span class="teach-role">{{page.teach-role12}}</h2>
                    <p class="job-chrono"> · {{page.teach-date12}}</p>
                    <br><h3>@<a target="_blank" href="{{page.teach-place-link12}}">{{page.teach-place12}}</a></h3><p class="job-details"> · <em>{{page.teach-place-geo12}}</em></p>
                    <ul class="job-bullets">
                    </ul>
                     <h2 class="teach-title">{{page.teach-title11}} <span class="teach-role">{{page.teach-role11}}</h2>
                    <p class="job-chrono"> · {{page.teach-date11}}</p>
                    <br><h3>@<a target="_blank" href="{{page.teach-place-link11}}">{{page.teach-place11}}</a></h3><p class="job-details"> · <em>{{page.teach-place-geo11}}</em></p>
                    <ul class="job-bullets">
                    </ul>
                     <h2 class="teach-title">{{page.teach-title10}} <span class="teach-role">{{page.teach-role10}}</h2>
                    <p class="job-chrono"> · {{page.teach-date10}}</p>
                    <br><h3>@<a target="_blank" href="{{page.teach-place-link10}}">{{page.teach-place10}}</a></h3><p class="job-details"> · <em>{{page.teach-place-geo10}}</em></p>
                    <ul class="job-bullets">
                    </ul>
                     <h2 class="teach-title">{{page.teach-title9}} <span class="teach-role">{{page.teach-role9}}</h2>
                    <p class="job-chrono"> · {{page.teach-date9}}</p>
                    <br><h3>@<a target="_blank" href="{{page.teach-place-link9}}">{{page.teach-place9}}</a></h3><p class="job-details"> · <em>{{page.teach-place-geo9}}</em></p>
                    <ul class="job-bullets">
                    </ul>
                     <h2 class="teach-title">{{page.teach-title8}} <span class="teach-role">{{page.teach-role8}}</h2>
                    <p class="job-chrono"> · {{page.teach-date8}}</p>
                    <br><h3>@<a target="_blank" href="{{page.teach-place-link8}}">{{page.teach-place8}}</a></h3><p class="job-details"> · <em>{{page.teach-place-geo8}}</em></p>
                    <ul class="job-bullets">
                    </ul>
                     <h2 class="teach-title">{{page.teach-title7}} <span class="teach-role">{{page.teach-role7}}</h2>
                    <p class="job-chrono"> · {{page.teach-date7}}</p>
                    <br><h3>@<a target="_blank" href="{{page.teach-place-link7}}">{{page.teach-place7}}</a></h3><p class="job-details"> · <em>{{page.teach-place-geo7}}</em></p>
                    <ul class="job-bullets">
                    </ul>
                    <h2 class="teach-title">{{page.teach-title6}} <span class="teach-role">{{page.teach-role6}}</h2>
                    <p class="job-chrono"> · {{page.teach-date6}}</p>
                    <br><h3>@<a target="_blank" href="{{page.teach-place-link6}}">{{page.teach-place6}}</a></h3><p class="job-details"> · <em>{{page.teach-place-geo6}}</em></p>
                    <ul class="job-bullets">
                    </ul>
                    <h2 class="teach-title">{{page.teach-title5}} <span class="teach-role">{{page.teach-role5}}</h2>
                    <p class="job-chrono"> · {{page.teach-date5}}</p>
                    <br><h3>@<a target="_blank" href="{{page.teach-place-link5}}">{{page.teach-place5}}</a></h3><p class="job-details"> · <em>{{page.teach-place-geo5}}</em></p>
                    <ul class="job-bullets">
                    </ul>
                    <h2 class="teach-title">{{page.teach-title4}} <span class="teach-role">{{page.teach-role4}}</h2>
                    <p class="job-chrono"> · {{page.teach-date4}}</p>
                    <br><h3>@<a target="_blank" href="{{page.teach-place-link4}}">{{page.teach-place4}}</a></h3><p class="job-details"> · <em>{{page.teach-place-geo4}}</em></p>
                    <ul class="job-bullets">
                    </ul>
                    <h2 class="teach-title">{{page.teach-title3}} <span class="teach-role">{{page.teach-role3}}</h2>
                    <p class="job-chrono"> · {{page.teach-date3}}</p>
                    <br><h3>@<a target="_blank" href="{{page.teach-place-link3}}">{{page.teach-place3}}</a></h3><p class="job-details"> · <em>{{page.teach-place-geo3}}</em></p>
                    <ul class="job-bullets">
                    </ul>
                    <h2 class="teach-title">{{page.teach-title2}} <span class="teach-role">{{page.teach-role2}}</h2>
                    <p class="job-chrono"> · {{page.teach-date2}}</p>
                    <br><h3>@<a target="_blank" href="{{page.teach-place-link2}}">{{page.teach-place2}}</a></h3><p class="job-details"> · <em>{{page.teach-place-geo2}}</em></p>
                    <ul class="job-bullets">
                    </ul>
                    <h2 class="teach-title">{{page.teach-title1}} <span class="teach-role">{{page.teach-role1}}</h2>
                    <p class="job-chrono"> · {{page.teach-date1}}</p>
                    <br><h3>@<a target="_blank" href="{{page.teach-place-link1}}">{{page.teach-place1}}</a></h3><p class="job-details"> · <em>{{page.teach-place-geo1}}</em></p>
                    <ul class="job-bullets">
                    </ul>
    </div>
    <h1>Events Attended</h1>
    <div class="content">
     <h2 class="job-title">2018</h2>
     <ul class="job-bullets">
          <li><a target="_blank" href="{{page.attend-link18}}">{{page.attend-title18}}</a> by {{page.attend-by18}} · <em>{{page.attend-luogo18}}</em> · {{page.attend-anno18}}</a></li>
          <li><a target="_blank" href="{{page.attend-link17}}">{{page.attend-title17}}</a> by {{page.attend-by17}} · <em>{{page.attend-luogo17}}</em> · {{page.attend-anno17}}</a></li>
     </ul>
     <h2 class="job-title">2016</h2>
     <ul class="job-bullets">
          <li><a target="_blank" href="{{page.attend-link16}}">{{page.attend-title16}}</a> by {{page.attend-by16}} · <em>{{page.attend-luogo16}}</em> · {{page.attend-anno16}}</a></li>
          <li><a target="_blank" href="{{page.attend-link15}}">{{page.attend-title15}}</a> by {{page.attend-by15}} · <em>{{page.attend-luogo15}}</em> · {{page.attend-anno15}}</a></li>
          <li><a target="_blank" href="{{page.attend-link14}}">{{page.attend-title14}}</a> by {{page.attend-by14}} · <em>{{page.attend-luogo14}}</em> · {{page.attend-anno14}}</a></li>
          <li><a target="_blank" href="{{page.attend-link13}}">{{page.attend-title13}}</a> by {{page.attend-by13}} · <em>{{page.attend-luogo13}}</em> · {{page.attend-anno13}}</a></li>
          <li><a target="_blank" href="{{page.attend-link12}}">{{page.attend-title12}}</a> by {{page.attend-by12}} · <em>{{page.attend-luogo12}}</em> · {{page.attend-anno12}}</a></li>
     </ul>
     <h2 class="job-title">2015</h2>
     <ul class="job-bullets">
          <li><a target="_blank" href="{{page.attend-link11}}">{{page.attend-title11}}</a> by {{page.attend-by11}} · <em>{{page.attend-luogo11}}</em> · {{page.attend-anno11}}</a></li>
          <li><a target="_blank" href="{{page.attend-link10}}">{{page.attend-title10}}</a> by {{page.attend-by10}} · <em>{{page.attend-luogo10}}</em> · {{page.attend-anno10}}</a></li>
          <li><a target="_blank" href="{{page.attend-link9}}">{{page.attend-title9}}</a> by {{page.attend-by9}} · <em>{{page.attend-luogo9}}</em> · {{page.attend-anno9}}</a></li>
     </ul>
     <h2 class="job-title">2014</h2>
     <ul class="job-bullets">
          <li><a target="_blank" href="{{page.attend-link8}}">{{page.attend-title8}}</a> by {{page.attend-by8}} · <em>{{page.attend-luogo8}}</em> · {{page.attend-anno8}}</a></li>
          <li><a target="_blank" href="{{page.attend-link7}}">{{page.attend-title7}}</a> by {{page.attend-by7}} · <em>{{page.attend-luogo7}}</em> · {{page.attend-anno7}}</a></li>
          <li><a target="_blank" href="{{page.attend-link6}}">{{page.attend-title6}}</a> by {{page.attend-by6}} · <em>{{page.attend-luogo6}}</em> · {{page.attend-anno6}}</a></li>
          <li><a target="_blank" href="{{page.attend-link5}}">{{page.attend-title5}}</a> by {{page.attend-by5}} · <em>{{page.attend-luogo5}}</em> · {{page.attend-anno5}}</a></li>
          <li><a target="_blank" href="{{page.attend-link4}}">{{page.attend-title4}}</a> by {{page.attend-by4}} · <em>{{page.attend-luogo4}}</em> · {{page.attend-anno4}}</a></li>
     </ul>
     <h2 class="job-title">2013</h2>
     <ul class="job-bullets">
          <li><a target="_blank" href="{{page.attend-link1}}">{{page.attend-title3}}</a> by {{page.attend-by3}} · <em>{{page.attend-luogo3}}</em> · {{page.attend-anno3}}</a></li>
          <li><a target="_blank" href="{{page.attend-link2}}">{{page.attend-title2}}</a> by {{page.attend-by2}} · <em>{{page.attend-luogo2}}</em> · {{page.attend-anno2}}</a></li>
          <li><a target="_blank" href="{{page.attend-link1}}">{{page.attend-title1}}</a> by {{page.attend-by1}} · <em>{{page.attend-luogo1}}</em> · {{page.attend-anno1}}</a></li>
     </ul>
    </div>
</div>
</div>
</div>
</body>
</html>