{% include head.html %}
<body>

<div class="main">



<section class= "home pitch">
  <div class="home-text-section">
  <h1>Hi. I'm Alice</h1>
  <div class="Iam">
  <p>I work with <strong>data</strong></p>
  <b>
    <div class="innerIam">
      <span style="color:steelblue ">stories</span><br /> 
      <span style="color:teal ">scraping</span><br />
      <span style="color:purple">visualization</span><br />
      <span style="color:crimson ">research</span><br />
      <span style="color:orangered ">cleaning</span><br />
      <span style="color:orange ">literacy</span><br />
    </div>
  </b>
  </div>
</section>

<div class="clear"></div>

<section class= "home bio-short">
  <div class="home-text-section">
      {% include short-bio.html %}
  <div class="next-section">
  <p>Learn more<br><span style="font-size: 1.3em;margin-top: 0px;"><i class="fas fa-angle-double-down"></i></span></p>
</div>
</div>
</section>
<div class="clear"></div>


<section class= "home fields">
    {% include more.html %}
</section>
<div class="clear"></div>
</html>