<!DOCTYPE html>
<html>

{% include head.html %}

<body>

    {% include header.html %} 
	<section id="banner">
			<div class="content">
				{{ content }} 
			</div>
			<div class="image object">
				<img src="images/profile-home.png">
			</div>
	</section>
			<hr>
			<div class="three-column" id="left">
			<img src="/images/ddj_logo.png">
			<h2><a href="/bio">data journalism & storytelling</a></h2>
			<p>I have both an academic background and several years of work experience in crafting data journalism pieces and producing data driven storytelling, with a focus on advocacy. I am comfortable with different parts of the workflow, from scraping to visualizations.</p></div>
			<div class="three-column" id="middle">
			<img src="/images/research_logo.png">
			<h2><a href="/bio">consultancy & research</a></h2>
			<p>Whether you have a story that needs data, data that needs a story, or an idea that needs both, I offer consultancy and research assistance to organizations interested in integrating data in their workflows and reporting.</p></div>
			<div class="three-column" id="right">
			<img src="/images/training_logo.png">
			<h2><a href="/events">training & <br>workshops</a></h2>
			<p>I give workshop sessions and full training courses on data journalism and data driven storytelling techniques, covering topics like data sourcing and scraping, data cleaning, data analysis for journalists, data visualization and storytelling.</p></div>
	
    {% include footer.html %}
</body>
</html>
