<!DOCTYPE html>
<html>

{% include head.html %}

<body>
    {% include header.html %}
      <hr>
<article itemscope itemtype="http://schema.org/BlogPosting" style="width:80%; margin:0px auto; text-align: justify;"">
    <h2 style="color:#FF6B6B;" itemprop="name headline">{{ page.title }}</h2>
    <p>
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        <em>{{ page.date | date: "%b %-d, %Y" }}</em>
      </time>
      {% for cat in page.categories %}
        • <span>{{ cat }}</span>
      {% endfor %}
    </p>
  <div itemprop="articleBody">{{ content }}</div>
</article>
{% include footer.html %} 
</body>
</html>