<!DOCTYPE html>
<html>

{% include head.html %}

<body>

    {% include header.html %} 
<hr>
<article itemscope itemtype="http://schema.org/BlogPosting" style="width:80%; margin:0px auto;">
    <h2 style="color: #ff6b6b;" itemprop="name headline">{{ page.title }}</h2>
    <table>
      <tr>
        <th>Date</th>
        <th>Client</th>
        <th>Category</th>
        <th>Project Link</th>
      </tr>
      <tr>
        <td><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: "%b %-d, %Y" }}</time></td>
        <td><span itemprop="author" itemscope itemtype="http://schema.org/Person">
        <span itemprop="name">{{ page.client }}</span></td>
        <td>{{ page.tags }}</td>
        <td><a href="{{ page.project_url }}">{{ page.title }}</a></td>
      </tr>
      </table>  
  <div itemprop="articleBody">{{ content }}</div>
  <span><a href="{{ page.project_url }}"><img src="{{ site.url }}{{ site.baseurl }}/images/works/{{ page.image }}" style="max-width:100%;"></a></span>
  <hr>
<div style="text-align:center; font-weight: 300; font-size: 20px;">
  <a class="" href="{{ site.url }}{{ site.baseurl }}/portfolio">Back to all projects</a>
</div>
<hr>
</article>

{% include footer.html %} 
</body>
</html>

